.header{
    margin-top: 50px;
}

.left-image {
    padding-left: 0;
}
.right-text h1 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;

}

.right-text h2 {
    font-size: 20px;
    font-weight: 700;
    color: #012970;
    padding-top: 10px;
}

.right-text p {
    line-height: 22px;
    color: #444444;
    padding-top: 10px;
    font-size: 15px;

}
.about-btn a {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
    background: #4154f1;
    box-shadow: 0px 5px 25px rgb(65 84 241 / 30%);
}

.about-btn a span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.about-btn i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.about-btn {
    margin-top: 30px;
}


.right-text {
    background-color: #f6f9ff;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Nunito", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;

}

.Left-image {
width: 50%;

}
.img-fluid{
    height: auto;
}
