 .header {
   margin-top: 50px;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container{
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.rw-head{

    align-items: center; 
}
.col-6{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.left-image{
    padding-left: 0;
}
.left-image img{
    width: 100%;
    display: block;
}
.right-text{
    background-color: #f5f5f5;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.right-text h2{
    margin-bottom: 20px;
}
.right-text a{
    display: inline-block;
    padding:8px 20px;
    color: #fff;
    background-color: blue;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 20px;
}



/* form */
.contact-head {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-head h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
}

.contact-head p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.form-right {
    background: #fafbff;
    padding: 30px;
    height: 100%;
}

.info-box {
    color: #444444;
    background: #fafbff;
    padding: 30px;
}

.info-box i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}

.info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;

}

.info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.text-center button {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}