.cont-head{
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.cont-head h1 a{
    color: #5fcf80;
    text-decoration: none;
    vertical-align: sub;
}
.nav-box{
    display: flex;
}
