.navbar-brand {
    color: #5fcf80;
}

.nav-link.active {
    color: #5fcf80;
    font-weight: bold;
}

.navbar-nav li a {
    font-weight: bold;
    color: black;
}

a.get-btn {
    margin-left: 22px;
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 14px;
    text-decoration: none;
}

/* Banner */
.banner {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    height: 80vh;
    background-attachment: fixed;

}

.ban-text {
    padding-top: 50px;
}

.ban-text h1 {
    font-size: 50px;
    color: #fff;
}

.ban-text p {
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 35px;
}

.ban-text a {
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid;
}



/* ABOUT */
.about-head {
    margin-top: 50px;
}

.about-box h1 {
    font-size: 25px;
    padding-bottom: 10px;
}

.font-box {
    padding-bottom: 20px;
    font-family: sans-serif;
}

.about-box p {}

.about-box ul {
    list-style: none;
    line-height: 24px;
    font-size: 17px;
}

.about-box ul li {
    padding-bottom: 15px;
}

.about-box ul li i {
    color: #5fcf80;
}

/* Students */
.Students {
    margin-top: 51px;
    background-color: #f6f7f6;
    padding: 30px 0px;
}

.stud-box {
    text-align: center;
}

.stud-box span {
    font-size: 45px;
    color: #5fcf80;
    font-weight: bold;
}

.stud-box p {
    padding-top: 7px;
    font-weight: bold;
}

/* choose-mentor */
.choose-mentor {
    margin-top: 50px;
    padding-bottom: 30px;
}

.text-center {
    margin-top: 20px;
    height: 100%;
    padding-bottom: 10px;
}

.choose-box .card-body {
    background: #5fcf80;
}

.choose-box .card-body p {
    color: #fff;
}

.card-body a {
    margin-left: 22px;
    background: #c8edd3;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    font-size: 14px;
    text-decoration: none;

}

.card-body h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    color: #fff;
}

.choose-box .card-body p {
    margin-bottom: 30px;
    color: #fff;
    line-height: 28px;
}

.text-center .card-body p {
    font-size: 15px;
    color: #848484;
    line-height: 20px;

}

.card-body i {
    display: inline-block;
    font-size: 33px;
    color: #5fcf80;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 14px;
    width: 60px;
    height: 60px;
    background: #ecf9f0;
}

.card-body h5 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

/* feature */
.feat-box {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #eef0ef;
}

.feat-box i {
    font-size: 32px;
    padding-right: 10px;
}

/* COURSES */
.Courses {
    margin-top: 50px;
    padding-bottom: 40px;
}

.cour-box {
    border: 1px solid;
}

.courses-head {
    padding-bottom: 40px;
}

.courses-head h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.courses-head p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #37423b;
}

.courses-head h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
}

.cour-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.cour-content h4 {
    font-size: 14px;
    background: #5fcf80;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
}

.cour-content span {
    font-weight: bold;
}

.cour-box h3 {
    color: #37423b;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;

}

.cour-box p {
    font-size: 17px;
    color: #777777;
    line-height: 18px;
    padding: 10px;
}

.cour-low {
    padding-top: 15px;
    border-top: 1px solid #eef0ef;
}

.cour-low {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.low-box {
    display: flex;
}

.low-box img {
    max-width: 50px;
    border-radius: 50px;
}

.low-box span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
    padding-top: 16px;
}

/* popular */
.popular {
    margin-top: 50px;
    margin-bottom: 30px;
}
.pop-box{
    border: 1px solid #eef0ef ;
}
.pop-content {
    text-align: center;
}

.pop-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    padding-top: 10px;
}

.pop-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    padding-top: 5px;

}
.pop-content p{
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
    line-height: 20px;
    padding: 10px;
}
.social{
    margin-top: 15px;
    font-size: 20px;
    color: #7e9486;
    margin-bottom: 20px;
}

/* COST */
.calculate{
    background: #ffbe00 url(../images/cost-top-bg.jpg) top no-repeat;
    padding: 0 70px;
    padding-top: 55px;
    padding-bottom: 50px;
}
.cost-detail {
    background: #303f46;
}
.calculate h4{
    font-weight: normal;
    color: #fff;
    margin-top: 13px;
    font-size: 28px;
    letter-spacing: 1px;
}
.calculate p{
    color: #fff;
    font-family: inherit;
    font-weight: 400;
    color: #6f6f6f;
    line-height: 24px;
    text-rendering: optimizeLegibility;
}
.calculate form li label {
    width: 100%;
    display: inline-block;
    font-weight: normal;
    color: #fff;
    font-size: 15px;
}
.calculate form li
 .form-control {
    border-radius: 0px;
    border: none;
    height: 40px;
    border-radius: 0px;
    padding: 0 20px;
    margin-top: 10px;
 }
 .cost-detail .calculate form li {
    margin-top: 20px;
    list-style: none;
}
.cost-detail .radio {
    width: 10%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
button.btn {
    margin-top: 30px;
}
.btn {
    border: none;
    color: #fff;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    background: #303f46;
    letter-spacing: 1px;
}

